
html{
    font-family:'Open Sans', sans-serif;
}
body{
    padding: 0;
    margin: 0;      
  }
header {
    background-color: #0E1215;
    display: grid;
    justify-content: center;
    padding: 0;
}

#header-title{
    color: white;
    font-size: 2rem;
}

nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li{list-style-type:none;}

.one:link , .two:link , .three:link, .four:link{
    text-decoration: none;
    color: white;
    font-size:  1.5rem;
    margin-left: 25px;
}

.one:visited, .two:visited, .three:visited, .four:visited{
    color: gray;
}

.one:hover, .two:hover, .three:hover, .four:hover{
    font-style: italic;
}
h1{
    font-size: 3rem;
    justify-content: center;
    margin-bottom: 20px;
}

.bioimage {
    display: flex;
    flex-direction: row;

}
#hello{
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
}

#hello-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

#about-title{
    font-size: 2.2rem;
}

#header-div, #header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#what_i_can{
    background: #FAFAFA;
    padding: 80px;
}

#what{
    font-size: 2.2rem;

}

#what_i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

#figures{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: space-evenly;

}

#logocreation, #webdesign, #fullbranding {
    padding: 25px;
    background-color: white;
    border: solid rgba(228, 224, 224, 0.442);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

h3{
    font-size: 1.5rem;
}

.learn_more:link {
    color: white;
    background-color: black;
    font-style: bold;
    text-decoration: none;
    border-radius: 5px;
    padding:8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: start;
}


.learn_more:visited {
    color: gray;
} 
 
.learn_more:hover {
    font-style: italic;
}

#text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:2rem ;
    margin-right: 20rem;
    margin-left: 20rem;
    margin-bottom: 2rem;
}
#my_work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8rem;
}
#myworktitle{
    font-size: 2.5rem;
}

#myworkpics {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} 
#they_tell_it {
    background-color: #0E1215;
    color: white;
    padding: 100px;
}
#they{
    font-size: 2.5rem;
}

#theytell {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#quotes {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0%;
}

q {
    font-style: italic;
}

#q1{
    color:gray;
}

#crafttext {
    padding: 50px 50px 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 7rem;
    margin-left: 7rem;
}
#contact_pics{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
#crafttitle{
    font-size: 2.5rem;
    text-align: center;
}
#craftp{
    text-align: center;
}

#a1{
    margin: 10px 10px 30px 10px;
    width: 40px;
}

#a1:visited{
    margin: 10px 10px 30px 10px;
    width: 40px;
}
footer {
    background-color: black;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
}